body {
  background-color: #17a1af;
  font-family: "montserrat", sans-serif;
}
h1 {
  text-align: center;
  color: #ffffff;
}

h2,
h3 {
  color: #ffffff;
}
a {
  color: #000000;
  font-weight: bold;
}
